@model IEnumerable<Online_Shopping_Cart.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string msg = TempData["Notification"]?.ToString();
    string del = TempData["Del"]?.ToString();
    string edit = TempData["Edit"]?.ToString();
}

<h1>Index</h1>




<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Products

                    <a asp-action="Create" class="btn btn-info btn-sm float-right"><i class="fa fa-plus"></i>Create New</a>
                </h4>
                
                <p class="card-description">
                    Products Index
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Slug)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Brand)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Stock)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReleaseDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageUrl)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Slug)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Brand)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>
                                <td>
                                    @(item.ReleaseDate?.ToString("dd mm yyyy"))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category)
                                </td>
                                <td>
                                    <img src="/@item.ImageUrl" style="height: 70px; border-radius:0px;"/>
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="fa fa-edit "></a> |
                                    <a asp-action="Details" asp-route-id="@item.Id" class="fa fa-eye text-success"></a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="fa fa-trash text-danger"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <a asp-action="Index" class="col-md-4">Back to List</a>
            </div>
        </div>
    </div>
</div>



@* Create category notification  *@
@if (TempData["Notification"] != null)
{
    @section js{

    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: '@msg',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
    }
}
@* Delete category notification *@
@if (TempData["Del"] != null)
{
    @section js{

    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: '@del',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
    }
}
@if (TempData["Edit"] != null)
{
    @section js{

    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: '@edit ',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
    }
}



